.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    background-color: #2196F3;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        background-color: #2196F3;
        padding: 10px;
        column-gap: 20px;
        row-gap: 20px;
    }

}

@media screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
        column-gap: 20px;
        row-gap: 20px;
    }

}


@media screen and (max-width: 300px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #2196F3;
        padding: 10px;
        column-gap: 20px;
        row-gap: 20px;
    }

}




.grid-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: rgba(159, 158, 158, 0.5);
}